:root {
  --el-color-primary: #0ea5e9;
  --el-color-primary-light-3: #38bdf8;
  --el-color-primary-light-5: #7dd3fc;
  --el-color-primary-light-7: #bae6fd;
  --el-color-primary-light-9: #e0f2fe;
  --el-color-primary-dark-2: #0284c7;

  --el-border-radius-base: 6px;
}
